.centrar {display:flex;justify-content: center;}

.logo{width: 120px;height: 120px;}
body{background-color: #fee4d7; 

    ;}
.nopad{padding:0px;
margin:0px;}
nav{background-color: #fee4d7;}

h2{display:flex;justify-content: center;}
.btween {display:flex;justify-content:right;}
.fontc {color: #b7541b;}